@import '../styles/function.scss';

$base: 4px;

$font-size-sm: rem(15px);
$font-size-md:rem(20px);
$font-size-lg:rem(28px);
$font-size-xl:rem(72px);

$line-height-sm:rem(18px);
$line-height-md:rem(30px);
$line-height-lg:rem(36px);
$line-height-xl:rem(84px);

$color-red: red;
$color-diver: rgb(213, 213, 213);
$color-black: #000;